<% @articles.each do |article| %>
    <div id="post">
    <h2><b><%=h article.title %></b></h2>
    <div id="byline">
	Category: <%=h @categories.find{ |c| c.id == article.category_id}.name %> | 
	Posted : <%= article.created_at%> by 
	<%= @editors.find{|a| a.id == article.editor_id}.email %></div>
    <%= truncate_html(article.content,:length => 500) %>
    <%= link_to 'Show', article %>
	<%if editor_signed_in?%>
    | 
    <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %> | 
	<%= link_to 'Edit', edit_article_path(article) %>
	<%end%>
	</div>
	<hr>
<% end %>
<%= will_paginate(@articles) %>
<%if editor_signed_in?%>
<br><%= link_to 'New article', new_article_path %>
<%end%>
