<p>
  <b><%=h @article.title %></b>
</p>

<p>
  <%=h @article.content %>
</p>

<p>
  <b>Category:</b>
  <%=h @categories.find{ |c| c.id == @article.category_id}.name %>
</p>

<%if editor_signed_in?%>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%end%>
<%= link_to 'Back', articles_path %>
