<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"> 
    <head> 
    <title><%= h(yield(:title) || "CeeMeS") %></title>
    <%= stylesheet_link_tag 'application', :cache => true %>
    <%= javascript_include_tag 'jquery', 'jquery.easing','jquery.collapse', :cache => true %>

    <script type="text/javascript">
        $(function(){
            
            $('#collapser').jqcollapse({
               slide: true,
               speed: 500,
               easing: 'easeOutCubic'
            });
            
        });
            
      </script>
    </head> 
    <body> 
        <div id="header"> 
            <h1>CeeMeS</h1> 
        </div> 
        <div id="body"> 
            <div id="body-inner"> 
                <div id="navigation"> 
                    <h2>Menu</h2> 
                    <ul id="collapser">
                    <% @categories.first.articles.each do |article| %>
                      <li><%=article.title%></li>
                    <%end%>
                    <% @categories.each do |category| %>
                      <%if category.id != 1%>
                      <li><%= category.name%>
                      <ul>
                      <% category.articles.each do |article| %>
                        <li><%=article.title%></li>
                      <%end%>
                      </ul>
                      </li>
                      <%end%>
                    <%end%>
                    </div> 
                <div id="content"> 
                     Tutaj bedzie wyświetlanie artykułów chronologicznie z paginacją.
                     Po klikniecu na dany artykuł w menu wyświetli się tutaj.
                     Będzie opcja szukania.
                     Będzie logowanie się na konto redaktora który będzie zarządzał artykułami 
                     i kategoriami.
                    <%=yield%>
                </div> 
            </div> 
        </div> 
        <div id="footer"> 
            <p>Copyright &copy; 2010 Adam Kijak</p> 
        </div> 
    </body> 
</html> 
