<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US"> 
    <head> 
    <title><%= h(yield(:title) || "CeeMeS") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'jquery', 'jquery.easing','jquery.collapse', 'rails'%>

    <script type="text/javascript">
        $(function(){
            
            $('#collapser').jqcollapse({
               slide: true,
               speed: 500,
               easing: 'easeOutCubic'
            });
            
        });
            
      </script>
    </head> 
    <body> 
	<%= csrf_meta_tag %>
        <div id="header"> 
            <h1>CeeMeS</h1> 
        </div> 
        <div id="body"> 
            <div id="body-inner"> 
                <div id="navigation"> 
                    <h2>Menu</h2> 
					<%= link_to 'Home', root_path %>
                    <ul id="collapser">
					<% @categories = Category.all %>
                    <% if !@categories.empty? %>
                      <% @categories.each do |category| %>
                        <li><%= category.name%>
                        <ul>
                        <% category.articles.each do |article| %>
                          <li><%= link_to article.title, article%></li>
                        <%end%>
                        </ul>
                        </li>
                      <%end%>
					  <% if editor_signed_in? %>
					    <%= link_to 'Categories', categories_path%>
					  <%end%>
                    <%end%>
					<hr>
					<% if editor_signed_in? %>
					<%= link_to "Sign out", destroy_editor_session_path %>
					<%else%>
					<%=link_to "Sign in", new_editor_session_path %><br>
					<%=link_to "Sign up", new_editor_registration_path %> 
					<%end%>
                    </div> 
                <div id="content"> 
                    <%=yield%>
                </div> 
            </div> 
        </div> 
        <div id="footer"> 
            <p>Copyright &copy; 2010 Adam Kijak</p> 
        </div> 
    </body> 
</html> 
